body{
    padding: 2rem;
};

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;

    .locator{
        display: flex;
        align-items: center;

        &__icon{
            width:3rem;
            height:3rem;
            margin-right:5px;
        }
        &__text{
            font-size: 1.1rem;
            text-transform: uppercase;
            color:#f6f6f6;
            letter-spacing: 0.5px;

            @media only screen and (max-width:31.25em){
                display:none;
            }
        }
    }

    .logo{
        width:15rem;
    }

    .bookmark{
        display:flex;
        align-items: center;

        &__icon{
            width:2.5rem;
            height:2.5rem;
            margin-left:5px;
        }
        &__text{
            font-size: 1.1rem;
            text-transform: uppercase;
            color:#f6f6f6;

            @media only screen and (max-width:31.25em){
                display:none;
            }
        }
    }

}

.search{

    .main-search{
        input{
            padding:0.8rem;
            font-size: 1.3rem;
            width:100%;
            outline: none;
            border: none;
            background-color: rgba(255,255,255,0.24);
            backdrop-filter: blur(0.5px);
            z-index: 2;
            color:#FFFFFF;

            &::placeholder{
                color:#FFFFFF;
                letter-spacing: 1px;
                font-weight: 300;
                font-family: 'Montserrat', sans-serif;
                

            }
        }
        form{
            display:flex;
            align-items: center;
        }
        &__icon{
            width:2rem;
            height:2rem
        }
        button{
            background-color: transparent;
            border:none;
            margin-left:-3rem;
            z-index: 5;
            cursor: pointer;
        }
    }

    .search-result{
        margin:2rem 0;

        .search-error{
            p{
                font-size: 1.3rem;
                color:white;
                text-align: center;
                letter-spacing: 0.1rem;

            }
        }
        .city{
            background-color: rgba(0,0,0,0.3);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:0.2rem 0.4rem;
            margin-bottom: 1.2rem;
            text-decoration: none;
            transition: display 0.3s;
            
            &:hover{
                background-color: rgba(0,0,0,0.5);
                cursor: pointer;
            }
            &__text{
                color:#F6F6F6;
    
                &--1{
                    font-size: 1.3rem;
                }
                &--2{
                    font-size: 1.1rem;
                }
            }

            &__icon{
                width:4rem;
                height:4rem;
                fill:white;
                color:white;
            }
        }
    }
}
.welcome-text{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color:#c4c4c4;
    font-weight: 300;
    text-transform: uppercase;
    margin:8rem 0;
}
.sidespinner{
    display: flex;
    align-items: center;
    justify-content: center;
    
    // margin: 1rem 0;

    &__main{
        border: 0.2rem solid rgba(255,255,255,0.24);
        backdrop-filter: blur(0.5px);
        border-radius: 50%;
        border-top: 0.3rem solid #f6f6f6;
        width:2rem;
        height:2rem;
        margin-right: 0.5rem;
        animation: spin 1s linear infinite;
    }
    &__text{
        color:#f6f6f6;
        font-size: 1.2rem;
    }
}
.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8rem 0;

    &__main{
        border: 0.3rem solid rgba(255,255,255,0.24);
        backdrop-filter: blur(0.5px);
        border-radius: 50%;
        border-top: 0.3rem solid #f6f6f6;
        width:3.5rem;
        height:3.5rem;
        animation: spin 1s linear infinite;
    }

    &__text{
        color:#f6f6f6;
        margin-top:0.4rem;
        font-size: 1.2rem;

    }


}
.error{
    margin: 8rem 0;
    &__text{
        text-transform:uppercase;
        color:#f6f6f6;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__icon{
        height:4rem;
        width:4rem;
        margin-bottom:0.6rem;
        fill:#f6f6f6;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.today{
    display: flex;
    align-items: center;
    margin:5rem 0;
    &__max{
        display: flex;
        flex:40%;
        flex-direction: column;
        justify-content: center;

        @media only screen and (max-width:37.5em){
            flex:50%;
        }
        
        // align-items: center;
        &--icon{
            width:11rem;
            height:11rem;
            fill:white;
        }
        &--main{
            margin-left:2rem;
            margin-top:0.5rem;
            .max-temp{
                font-size: 2rem;
                color:white;
                position: relative;
                display: inline;
                margin-right:1.7rem;

                &__icon{
                    position: absolute;
                    top:-4px;
                    right:-12px;
                    width:2rem;
                    height:2rem;
                }
            }
            .min-temp{
                font-size: 1.5rem;
                color:white;
                position: relative;
                display: inline;

                &__icon{
                    position: absolute;
                    top:-4px;
                    right:-12px;
                    width:1.5rem;
                    height:1.5rem;
                }
            }
        }
    }

    &__more{
        flex:60%;

        @media only screen and (max-width:37.5em){
            flex:50%;
        }

        p{
            font-size: 1.2rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 1.3rem;
            color: white;
        }

        .extra{
            display: flex;
            margin-left: -1.4rem;
            
            &__text{
                display: flex;
                align-items: center;
                margin-right:2rem;

                &--main{
                    margin-top: 1rem;
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                }
            }
            &__icon{
                width:3rem;
                margin-right:2px;
                height:3rem;
            }
        }
    }
}

.bottom{
    display: flex;
    justify-content: space-between;

    .place{
        color:white;
        

        &__first{
            font-size: 1.6rem;
            margin-bottom: 3px;
            letter-spacing: 2px;
            font-weight: 200;
        }

        &__second{
            font-size: 1.3rem;
            letter-spacing: 2px;
        }   
    }

    &__icon{
        width:2.5rem;
        height: 2.5rem;
    }
}

.following{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 1.4rem;
    grid-gap: 1.4rem;
    @media only screen and (max-width:37.5em){
        grid-template-columns: auto auto;
    }
    .day{
        background-color: rgba(0,0,0,0.3);
        padding:1rem;
        &__date{
            color:white;
            font-size: 1.3rem;
            font-weight: 200;
            text-align: center;
            letter-spacing: 1px;
        }

        &__main{
            margin:2rem 0;
            &--icon{
                width:6rem;
                height:6rem;
                display: block;
                margin:0 auto;
                fill:white;
            }

            &--text{
                text-align: center;
                color:white;
                font-size: 1.3rem;
                font-weight:200;
                letter-spacing: 1.4px;
            }
        }

        .maxmin{
            display: flex;
            justify-content: center;
            .max-temp{
                font-size: 1.6rem;
                color:white;
                position: relative;
                display: inline-block;
                margin-right:2rem;

                &__icon{
                    position: absolute;
                    top:-0.7rem;
                    right:-1.6rem;
                    width:2rem;
                    height:2rem;
                }
            }
            .min-temp{
                font-size: 1.5rem;
                color:white;
                position: relative;
                display: inline-block;

                &__icon{
                    position: absolute;
                    top:-4px;
                    right:-12px;
                    width:1.5rem;
                    height:1.5rem;
                }
            }
        }
    }
}