body{
    padding: 2rem;
};

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;

    .locator{
        display: flex;
        align-items: center;

        &__icon{
            width:3rem;
            height:3rem;
            margin-right:5px;
        }
        &__text{
            font-size: 1.1rem;
            text-transform: uppercase;
            color:#f6f6f6;
            letter-spacing: 0.5px;
        }
    }

    .logo{
        width:15rem;
    }

    .bookmark{
        display:flex;
        align-items: center;

        &__icon{
            width:2.5rem;
            height:2.5rem;
            margin-left:5px;
        }
        &__text{
            font-size: 1.1rem;
            text-transform: uppercase;
            color:#f6f6f6;
        }
    }

}

.search{

    .main-search{
        input{
            padding:0.8rem;
            font-size: 1.3rem;
            width:100%;
            outline: none;
            border: none;
            background-color: rgba(255,255,255,0.24);
            backdrop-filter: blur(0.5px);
            z-index: 2;
            color:#FFFFFF;

            &::placeholder{
                color:#FFFFFF;
                letter-spacing: 1px;
                font-weight: 300;
                font-family: 'Montserrat', sans-serif;
                font-weight:300;

            }
        }
        form{
            display:flex;
            align-items: center;
        }
        &__icon{
            width:2rem;
            height:2rem
        }
        button{
            background-color: transparent;
            border:none;
            margin-left:-3rem;
            z-index: 5;
            cursor: pointer;
        }
    }

    .search-result{
        margin:2rem 0;
        .city{
            background-color: rgba(0,0,0,0.3);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:0.2rem 0.4rem;
            margin-bottom: 1rem;
            
            &__text{
                color:#FFFFFF;
                &--1{
                    font-size: 1.3rem;
                }
                &--2{
                    font-size: 1.1rem;
                }
            }

            &__icon{
                width:4rem;
                height:4rem;
            }
        }
    }
}