

.layout{
    position:fixed;
    // padding: 0.5rem 2.2rem;
    overflow-y: scroll;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(0deg,rgba(0,66,87,0.62),rgba(0,66,87,0.62)), url("../images/pexels-invisiblepower-246642.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.main-layout{
    padding:1.5rem 5rem;
    max-width: 1600px;
    margin:0 auto;

    @media only screen and (max-width:43.75em){
        padding:0.5rem 1rem;
    }
}
main{
    display:flex;
    flex:30% 70%;
   
    margin:6rem 0;
    @media only screen and (max-width:43.75em){
       display:block;

       margin:2rem 0;
    }
    

}

.search{
    flex: 20%;
    margin-right:2rem;
    @media only screen and (max-width:56.65em){
        flex:25%;
    }

    @media only screen and (max-width:43.75em){
        margin-right: 0;
    }

    
    
}
.main{
    flex:65%;
    padding-left: 10rem;

    @media only screen and (max-width:56.65em){
        flex:75%;
        padding-left: 5rem;
    }

    @media only screen and (max-width:43.75em){
        padding-left:0;
     }


    &__display{
        background-color:rgba(0,0,0,0.3);
        padding:2rem;
    }
    
}