body {
  padding: 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .locator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .locator__icon {
  width: 3rem;
  height: 3rem;
  margin-right: 5px;
}

nav .locator__text {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #f6f6f6;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 31.25em) {
  nav .locator__text {
    display: none;
  }
}

nav .logo {
  width: 15rem;
}

nav .bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .bookmark__icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 5px;
}

nav .bookmark__text {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #f6f6f6;
}

@media only screen and (max-width: 31.25em) {
  nav .bookmark__text {
    display: none;
  }
}

.search .main-search input {
  padding: 0.8rem;
  font-size: 1.3rem;
  width: 100%;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  z-index: 2;
  color: #FFFFFF;
}

.search .main-search input::-webkit-input-placeholder {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.search .main-search input:-ms-input-placeholder {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.search .main-search input::-ms-input-placeholder {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.search .main-search input::placeholder {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.search .main-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .main-search__icon {
  width: 2rem;
  height: 2rem;
}

.search .main-search button {
  background-color: transparent;
  border: none;
  margin-left: -3rem;
  z-index: 5;
  cursor: pointer;
}

.search .search-result {
  margin: 2rem 0;
}

.search .search-result .city {
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2rem 0.4rem;
  margin-bottom: 1.2rem;
  text-decoration: none;
}

.search .search-result .city:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.search .search-result .city__text {
  color: #F6F6F6;
}

.search .search-result .city__text--1 {
  font-size: 1.3rem;
}

.search .search-result .city__text--2 {
  font-size: 1.1rem;
}

.search .search-result .city__icon {
  width: 4rem;
  height: 4rem;
}

.welcome-text {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #c4c4c4;
  font-weight: 300;
  text-transform: uppercase;
  margin: 8rem 0;
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8rem 0;
}

.spinner__main {
  border: 0.3rem solid rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  border-radius: 50%;
  border-top: 0.3rem solid #f6f6f6;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.spinner__text {
  color: #f6f6f6;
  margin-top: 0.4rem;
  font-size: 1.2rem;
}

.error {
  margin: 8rem 0;
}

.error__text {
  text-transform: uppercase;
  color: #f6f6f6;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.error__icon {
  height: 4rem;
  width: 4rem;
  margin-bottom: 0.6rem;
  fill: #f6f6f6;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0;
}

.today__max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 37.5em) {
  .today__max {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

.today__max--icon {
  width: 11rem;
  height: 11rem;
  fill: white;
}

.today__max--main {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.today__max--main .max-temp {
  font-size: 2rem;
  color: white;
  position: relative;
  display: inline;
  margin-right: 1.7rem;
}

.today__max--main .max-temp__icon {
  position: absolute;
  top: -4px;
  right: -12px;
  width: 2rem;
  height: 2rem;
}

.today__max--main .min-temp {
  font-size: 1.5rem;
  color: white;
  position: relative;
  display: inline;
}

.today__max--main .min-temp__icon {
  position: absolute;
  top: -4px;
  right: -12px;
  width: 1.5rem;
  height: 1.5rem;
}

.today__more {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

@media only screen and (max-width: 37.5em) {
  .today__more {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

.today__more p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
  color: white;
}

.today__more .extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1.4rem;
}

.today__more .extra__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.today__more .extra__text--main {
  margin-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.today__more .extra__icon {
  width: 3rem;
  margin-right: 2px;
  height: 3rem;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom .place {
  color: white;
}

.bottom .place__first {
  font-size: 1.6rem;
  margin-bottom: 3px;
  letter-spacing: 2px;
  font-weight: 200;
}

.bottom .place__second {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.bottom__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.following {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin-top: 1.4rem;
  grid-gap: 1.4rem;
}

@media only screen and (max-width: 37.5em) {
  .following {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

.following .day {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.following .day__date {
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
}

.following .day__main {
  margin: 2rem 0;
}

.following .day__main--icon {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 0 auto;
  fill: white;
}

.following .day__main--text {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 1.4px;
}

.following .day .maxmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.following .day .maxmin .max-temp {
  font-size: 1.6rem;
  color: white;
  position: relative;
  display: inline-block;
  margin-right: 2rem;
}

.following .day .maxmin .max-temp__icon {
  position: absolute;
  top: -0.7rem;
  right: -1.6rem;
  width: 2rem;
  height: 2rem;
}

.following .day .maxmin .min-temp {
  font-size: 1.5rem;
  color: white;
  position: relative;
  display: inline-block;
}

.following .day .maxmin .min-temp__icon {
  position: absolute;
  top: -4px;
  right: -12px;
  width: 1.5rem;
  height: 1.5rem;
}

.layout {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 66, 87, 0.62)), to(rgba(0, 66, 87, 0.62))), url("../images/pexels-invisiblepower-246642.jpg");
  background: linear-gradient(0deg, rgba(0, 66, 87, 0.62), rgba(0, 66, 87, 0.62)), url("../images/pexels-invisiblepower-246642.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.main-layout {
  padding: 1.5rem 5rem;
  max-width: 1600px;
  margin: 0 auto;
}

@media only screen and (max-width: 43.75em) {
  .main-layout {
    padding: 0.5rem 1rem;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 30%;
      -ms-flex: 30% 70%;
          flex: 30% 70%;
  margin: 6rem 0;
}

@media only screen and (max-width: 43.75em) {
  main {
    display: block;
    margin: 2rem 0;
  }
}

.search {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  margin-right: 2rem;
}

@media only screen and (max-width: 56.65em) {
  .search {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
}

@media only screen and (max-width: 43.75em) {
  .search {
    margin-right: 0;
  }
}

.main {
  -webkit-box-flex: 65%;
      -ms-flex: 65%;
          flex: 65%;
  padding-left: 10rem;
}

@media only screen and (max-width: 56.65em) {
  .main {
    -webkit-box-flex: 75%;
        -ms-flex: 75%;
            flex: 75%;
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .main {
    padding-left: 0;
  }
}

.main__display {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 0.6px;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 57%;
  }
}

@media only screen and (max-width: 56.65em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 52%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 49%;
  }
}

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 47%;
  }
}
/*# sourceMappingURL=style.css.map */